
<!-- HEAD -->
    <%- include('partials/head') %> 
<!-- END HEAD -->
    <body>
    <!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->

<div class="body-Sin-footer">

    <div class="contenedor_productos">
            <a href=""></a>
        <div class="conteneder_imagenes"> 
            <img src="/images/productos/<%= product.image %>" alt="ejs">
        </div>
        <div class="contenedor_textoProducto">
                <h2> <%= product.name  %> </h2>
            <hr>
            <div class="precio_producto">
                <span class="precio_productos"> $<%- toThousand(product.price - product.price * product.discount / 100) %>0,00</span>  <p class="star-DetalledeProducto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
            </div>
            <hr>
            <p class="p_productos">
                <%= product.description %> 
            </p>
            <div class="add-to-cart_producto">
                <button><a href="#">Agregar al Carrito</a></button>
            </div>
        </div>
    </div>
    </div>
    <hr class="separador-DProducto">
    <h2 class="h2_similar">Productos Similares</h2>
    <div class="productos_similares">
        <div class="bloque__similar">
                <div class="similares_images">
                    <img src="/images/productos/4-Gatos-Locos-Malbec.png" alt=""> </a> 
                </div>
                <div class="similares_texts">
                    <h4>4 Gatos Locos</h4>
                    <p class="star-Detalle-de-Producto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
                    <h5>$1800,00</h5>
                </div>
        </div>
        <div class="bloque__similar">
            <div class="similares_images">
                <img src="/images/productos/Valdencanto-de-Rio.png" alt="">
            </div>
            <div class="similares_texts">
                <h4>Valdecanto de Río</h4>
                <p class="star-Detalle-de-Producto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
                <h5>$3000,00</h5>
            </div>
        </div>
        <div class="bloque__similar">
            <div class="similares_images">
                <img src="/images/productos/Riccitelli-Kung-Fu-Tinto.png" alt="">
            </div>
            <div class="similares_texts">
                <h4 class="price-DetalleProducto" >Kung-Fu Malbec 2021</h4>
                <p class="star-Detalle-de-Producto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
                <h5 class="price-DetalleProducto">$3400,00</h5>
            </div>
        </div>
    </div> <!--PRODUCTO SIMILAR-->
    <hr class="separador-DProducto">
    <div class="reviews-producto">
    <H2 class="H2-Detalle-Producto">RESEÑAS</H2>
    <div class="reviews">
        <div class="reviews_logo">
            <img src="/images/1persona.jpg" alt="foto">
        </div>
        <div class="reviews_datos">
            <h3>Bratt Smith</h3>
            <p>Agosto 2021</p>
            <p class="star-DetalledeProducto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
        </div>
        <div class="reviews_coment">
            <p>Excelente producto, recomendado al 100%.</p>
        </div>
    </div>

    <div class="reviews">
        <div class="reviews_logo">
            <img src="/images/2persona.jpg" alt="foto">
        </div>
        <div class="reviews_datos">
            <h3>Juana Estevez</h3>
            <p>Febrero 2022</p>
            <p class="star-DetalledeProducto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
        </div>
        <div class="reviews_coment">
            <p>Excelente todo, el envío llegó en tiempo y forma.</p>
        </div>
    </div>

    <div class="reviews">
        <div class="reviews_logo">
            <img src="/images/3persona.jpg" alt="foto">
        </div>
        <div class="reviews_datos">
            <h3>Juan Rivero</h3>
            <p>Agosto 2020</p>
            <p class="star-DetalledeProducto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
        </div>
        <div class="reviews_coment">
            <p>Excelente atención en la Sucursal de La Boca</p>
        </div>
    </div>

    <div class="reviews">
        <div class="reviews_logo">
            <img src="/images/4persona.jpg" alt="foto">
        </div>
        <div class="reviews_datos">
            <h3>Martin Guarraccino</h3>
            <p>Marzo 2022</p>
            <p class="star-DetalledeProducto"><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i><i class="star-Carro fa-solid fa-star"></i></p>
        </div>
        <div class="reviews_coment">
            <p>Excelente sabor, una delicia que me recuerda al Kun fu Malbec</p>
        </div>
    </div>
    <div class="IniciarSeccionDetalles">
        <h6>para dejar tu reseña del producto</h6>
        <button class="btn-productos"><a href="/usuarios/login">Inicia Sesión</a></button>
    </div>

    </div>
    <hr>

</div> <!--Body.sin.Footer-->

<!-- -------------------------------------------------- -->
<!-- JS del home -->
<%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
<%- include('partials/footer') %> 
<!-- END FOOTER -->
</body>
</html>
