  <!-- HEAD -->
  <%- include('partials/head') %> 
  <link rel="stylesheet" href="/css/styles.css">
  <!-- END HEAD -->
    
  <!-- HEADER -->
  <%- include('partials/header') %> 
  <!-- END HEADER -->
  

<!-- MENU -->
<!--  INICIO FORM -->
<body>
  <div class="container-t">
    <div class="forms-container-t">
      <div class="Signin-signup-login">

        <form action="#"  method = "POST" class="sign-in-form-login">
          <h2 class="title-t-l">Iniciar sesión</h2>
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input class="input-t" type="email" placeholder="email" name="email" id="email"/><label for="email"></label>
            <% if (locals.errors && errors.email) {%>
              <small class="text-danger"><%= errors.email.msg %></small>
        <% } %>
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input  type="password" placeholder="password" name="password" id="password"/><label for="password"></label>
            <% if (locals.errors && errors.password) {%>
              <small class="text-danger"><%= errors.password.msg %></small>
            <% } %>
          </div>
          <% if (locals.errors && errors.email) { %>
            <small class="text-danger"><%= errors.email.msg %></small>
          <% } %>
          <div>
          <input type="submit" id="btn-login" class="btn solid" value="Iniciar sesión" />
        </div>
          <p class="smedia-text-l">O inicia sesión con una de las siguientes plataformas</p>
          <div class="icon-container">
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
        <p class="register-container-l"><a class="no-acc-l" href="registro">No tengo cuenta</a></p>
        </form>

      </div>
    </div>

    <div class="panel-t"></div>
  </div>
<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
  <!-- JS del home -->
  <%- include('partials/js') %> 
  <!-- END JS del home -->
  
  <!-- FOOTER -->
  <%- include('partials/footer') %> 
  <!-- END FOOTER -->
  </body>
</html>
