  <!-- HEAD -->
  <%- include('partials/head') %> 
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/scrip.js"></script>
  <!-- END HEAD -->
    
  <!-- HEADER -->
  <%- include('partials/header') %> 
  <!-- END HEADER -->
  
<!-- MENU -->
<!--  INICIO FORM -->
<body>
 

  <div class="container-t">
    <div class="forms-container-t">
      <div class="Signin-signup-login">

        <form action="/usuarios/login"  method = "POST" class="sign-in-form-login">
          <h2 class="title-t-l">Iniciar sesión</h2>
          <div class="input-box">
            <i class="fas fa-user"></i>
            
            <input class="input-t" name="email" type="email" AUDIO GEMIDO ANIME placeholder="Email" /><label for="name"></label>
            <% if (locals.errors && errors.email) { %>
              <small id="userNameError" class  ="text-danger"><%= errors.email.msg %></small>
            <% } %>
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Contraseña" /><label for="password"></label>
            <% if (locals.errors && errors.password) { %>
              <small id="passwordError" class="text-danger"><%= errors.password.msg %></small>
            <% } %>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" name="remember" type="checkbox" id="remember">
            <label class="form-check-label" for="remember">
                Recordarme
            </label>
        </div>
        <% if (locals.errors && errors.custom) { %>
            <small class="text-danger"><%= errors.custom.msg %></small>
        <% } %>
        
          <div class="button-submit">
          <input type="submit" id="btn-login" class="btn solid" value="Iniciar sesión" />
        </div>
          <p class="smedia-text-l">O inicia sesión con una de las siguientes plataformas</p>
          <div class="icon-container">
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
        <div>
          <p class="register-container-l">¿No tienes cuenta?
            <a class="no-acc-l" href="registro">Registrate aquí</a></p>
        </div>
        </form>

      </div>
    </div>

    <div class="panel-t"></div>
  </div>
<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
  <!-- JS del home -->
  <%- include('partials/js') %> 
  <!-- END JS del home -->
  
  <!-- FOOTER -->
  <%- include('partials/footer') %> 
  <!-- END FOOTER -->
  
  </body>
</html>
