<!-- HEAD -->
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">
<!-- END HEAD -->
    


<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 
    <!-- END HEADER -->

    <!-- MENU -->
    <div class="body-de-tienda">
        <div class="page-content">
        <% detail.forEach(producto => { %>      

            <div class="product-container-tienda">
                <img src="images/<%= producto.image %> " />
                <div class="bloque-ofertas-tienda">
                <h3 class="menuh3" >  <%= producto.name  %> </h3>
                    <h1 class="tienda-h1"><%= producto.price  %></h1>
                    <button class="button-tienda button-add" id="buttontienda" >Agregar</button>
                </div>
            </div>

        <% }) %>
    </div>
                    <div class="next-previous-tienda">
                        <a href="#" id="a-tienda" class="tienda-previous">&laquo; Previous</a>
                        <a href="#" id="a-tienda"class="tienda-next">Next &raquo;</a>
                    </div>
    </div>

<!-- FIN MENU -->

    <!-- -------------------------------------------------- -->
<!-- JS del home -->
    <%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
    <%- include('partials/footer') %> 
<!-- END FOOTER -->
    </body>
</html>
