  <!-- HEAD -->
  <%- include('partials/head') %> 
  <link rel="stylesheet" href="/css/styles.css">
  <!-- END HEAD -->
    
  <!-- HEADER -->
  <%- include('partials/header') %> 
  <!-- END HEADER -->

<!-- MENU -->
  <!--  INICIO FORM -->
  <body>
    <div class="container-t">
      <div class="forms-container-t">
        <div class="Signin-signup">
          <form action="/usuarios/registro" method="POST" id="form" class="sign-in-form" enctype="multipart/form-data">
            <h2 class="title-t">Registrarse</h2>

            <div class="input-box">
              <i class="fas fa-user"></i>
              
              <input class="input-t" name="name" type="text" id="name" placeholder="Usuario" value="<%= locals.old && old.name%>"/><label for="name"></label>
              <small class="text-danger" id="nameErrors"></small>
              <% if (locals.errors && errors.name) { %>
                <small id="nameErrors" class="text-danger"><%= errors.name.msg %></small>
              <% } %>
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              
              <input class="input-t" name="email" type="email" id="email" placeholder="Email" value="<%= locals.old && old.email%>"/><label for="email"></label>
              <small class="text-danger" id="emailErrors"></small>
              <% if (locals.errors && errors.email) { %>
                <small id="emailErrors" class="text-danger"><%= errors.email.msg %></small>
            <% } %>
            </div>

            <!-- avatar -->
            <div class="input-box">
              <i class="fa-solid fa-id-card"></i>
              <input type="file" name="avatar" id="formFile" class="inputRegister" >
              <small class="text-danger" id="fileErrors"></small>
              <span id="fileErrors"></span>
            </div>
            <!-- fin avatar -->

            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" id="password" placeholder="Contraseña" /><label for="password"></label>
              <img src="../../images/show.png" alt="" class="icon" id="Eye">
              <small class="text-danger" id="passwordError"></small>
              <% if (locals.errors && errors.password) { %>
                <small id="passwordError" class="text-danger"><%= errors.password.msg %></small>
              <% } %>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              
              <input type="password2" name="password2" id="password2" placeholder="Repetir contraseña" /><label for="password2"></label>
              <img src="../../images/show.png" alt="" class="icon2" id="Eye2">
              <small class="text-danger" id="pass2Errors"></small>
              <% if (locals.errors && errors.password2) { %>
                <small id="pass2Errors" class="text-danger"><%= errors.password2.msg %></small>
              <% } %>
            </div>
            <div class="checkRegister1">
            <input type="checkbox" name="terms" type="checkbox" value="" id="terms">
            <label class="form-check-label" for="terms" >
              <small class="text-danger" id="termsErrors"></small>
              Acepto los términos y condiciones
            </label> <br>
            <% if (locals.errors && errors.terms) { %>
              <small id="termsErrors" class="text-danger"><%= errors.terms.msg %></small>
          <% } %>
          </div>
            <input type="submit" class="btn solid" value="Crear cuenta" />
            <span id="submitErrors"></span>
            <p class="smedia-text">O inicia sesión con una de las siguientes plataformas</p>
            <div class="icon-container">
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
            </div>
          </div>
          <p class="register-container"><a class="no-acc" href="login">Ya tengo cuenta</a></p>
          </form>

        </div>
      </div>

      <div class="panel-t"></div>
      
    </div>

<!-- FIN MENU -->


    <!-- -------------------------------------------------- -->
  <!-- JS del home -->
  <%- include('partials/js') %> 
  <script src="/js/validaciones/RegisterValidator.js"></script>
  <!-- END JS del home -->
  
  <!-- FOOTER -->
  <%- include('partials/footer') %> 
  <!-- END FOOTER -->
  </body>
</html>
