<!DOCTYPE html>
<!-- HEAD -->
<%- include('partials/head') %> 
<!-- END HEAD -->

<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->
<body>
  <main class="PerfilBody">
    <div class="h2Perfil">EDITAR MIS DATOS</div>
    <h5 class="h2Perfil">(*) Campos obligatorios</h5>
    <div class="blueTexto">
            <h2>Es muy importante que mantengas actualizados tus datos para seguir conectados y poder informarte sobre novedades Rosé.</h2>
    </div>
    <div class="contendor-avatar">
        <div class="imgUser">
        <% if (typeof session.user != "undefined") { %>
            <img src="/images/avatar/<%= session.user.avatar %>" alt="Foto de perfil de <%= session.user.name  %> ">
        <% } %> 
        </div>
        <span>Editar imagen de perfil</span>
        <div class="inputFile">
            <input type="file" name="icon">
        </div>
    </div>
    <div class="blueTexto2">
        <h2 class="h2Perfil">Administra tu nombre y dirección. Estos datos personales son privados y no se mostrarán a otros usuarios.</h2>
    </div>
        <div class="contenedorDeDatos">
                <div class="datosPersonales">
                    <p><div class="colorDate">Email:</div><%= user.email %></p>
                    <p><div class="colorDate">Name:</div><%= user.name %></p>
                    <p><div class="colorDate">Telefono:</div><%= user.phone ? user.phone : "------" %></p>
                </div>
                <div>
                        <form action="/usuarios/perfil?_method=PUT" class="datosAModificar" method="POST">
                            <label for="email" class="">Email (*)</label>
                            <input type="text" class="" name="email" id="email" value="<%= locals.old && old.email%>"/>
                            <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %></small>
                            <% } %>

                            <label for="name" class="form-label">Nombre (*)</label>
                            <input type="text" class="form-control" name="name" id="name" value="<%= locals.old && old.name %>"/>
                            <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %></small>
                            <% } %>

                            <label for="phone" class="form-label">Teléfono (*)</label>
                            <input type="text" class="form-control" name="phone" id="phone" value="<%= locals.old && old.phone %>"/>
                            <% if (locals.errors && errors.phone) { %>
                            <small class="text-danger"><%= errors.phone.msg %></small>
                            <% } %>
                            <button class="btsn btn-outline-success" type="submit">
                                Editar datos
                            </button>
                        </form>
                </div>
        </div>
        <div class="blueTexto2">
          <h2 class="h2Perfil" style="font-weight: bold;">Gestiona tus direcciones</h2>
        </div>
        <div class="container p-5 border rounded">
  
            <form action="/usuarios/direcciones" class="row" method="post">
              <div class="formProfile mb-3 col-md-6">
                <label for="street" class="form-label">Calle (*)</label>
                <input type="text" class="form-control" name="street" id="street" value="<%= locals.old && old.street %>"/>
                <% if (locals.errors && errors.street) { %>
                <small class="text-danger"><%= errors.street.msg %></small>
                <% } %>
              </div>
              <div class="formProfile mb-3 col-md-6" class="form-group">
                <label for="number" class="form-label">Número (*)</label>
                <input type="text" class="form-control" name="number" id="number" value="<%= locals.old && old.number %>"/>
                <% if (locals.errors && errors.number) { %>
                <small class="text-danger"><%= errors.number.msg %></small>
                <% } %>
              </div>
              <div class="formProfile mb-3 col-md-6">
                <select class="form-select" name="province">
                  <option value="" hidden selected>Provincia</option>
                  <option value="">Buenos Aires</option>
                </select>
                <% if (locals.errors && errors.province) { %>
                <small class="text-danger"><%= errors.province.msg %></small>
                <% } %>
              </div>
              <div class="formProfile mb-3 col-md-6">
                <select class="form-select" name="city">
                  <option value=""selected>Ciudad</option>
                  <option value="">CABA</option>
                  <option value="">Provincia de Buenos Aires</option>
                </select>
                <% if (locals.errors && errors.city) { %>
                <small class="text-danger"><%= errors.city.msg %></small>
                <% } %>
              </div>
              <div class="formProfile mb-3 d-flex justify-content-center">
                <button class="btn5 btn-outline-primary" type="submit">
                  Agregar
                </button>
              </div>
            </form>
            <% if (user.addresses.length > 0) { %>
            <div class="table-responsive p-5 border rounded">
              <table class="table table-hover">
                <thead><h2 class="MisDirecciones">Mis direcciones</h2></thead>
                <thead>
                  <tr class="opcionesDeTabla">
                    <th scope="col">#</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Número</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.addresses.forEach(address => { %>
                  <tr>
                    <th scope="row"><%- address.id %></th>
                    <td><%- address.street %></td>
                    <td><%- address.number %></td>
                    <td><%- address.province %></td>
                    <td><%- address.city %></td>
                    <td>
                      <form action="/usuarios/direcciones/<%- address.id %>?_method=DELETE" method="POST">
                        <button class="btn5 btn-outline-danger" type="submit">
                          Eliminar
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
  
            <% } %>
          </div>
  </main>


<!-- JS del home -->
<%- include('partials/js') %> 
<!-- END JS del home -->

<!-- FOOTER -->
<%- include('partials/footer') %> 
<!-- END FOOTER -->   
</body>
</html>
