<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head-head')  %> 
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <%- include('../../partials/bar')  %> 
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('../../partials/sidebar') %> 
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Productos </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin/productos/agregar">Agregar productos</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Productos</li>
                </ol>
              </nav>
            </div>
          <div class="row">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Productos</h4>
                  <p class="card-description"> Editar o eliminar productos
                  </p>
                  <div class="s" id="tabla-responsive">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Nombre </th>
                          <th> Precio </th>
                          <th> Descripción </th>
                          <th> Stock </th>
                          <th> Descuento </th>
                          <th> Categoria </th>
                          <th> - </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% productos.forEach(producto => { %>
                        <tr>
                          <td data-label="id" class="1231"> <%- producto.id %></td>
                          <td data-label="Nombre"> <%- producto.name %> </td>
                          <td data-label="Precio"> <%- producto.price %></td>
                          <td data-label="Descripción"> <%- producto.description%></td>
                          <td data-label="Descuento"> <%- producto.discount %>  </td>
                          <td data-label="Categoria"> <%- producto.categoryId %>  </td>
                          <td></td>
                          <td> <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/admin/productos/editar/<%- producto.id %>">
                              <button class="btn btn-primary me-md-2"  type="button">Editar</button>
                            </a>
                            <form action="/admin/productos/eliminar/<%- producto.id %>?_method=DELETE" method="post">
                              <button class="btn btn-primary" type="submit">Eliminar</button>
                            </form>
                           
                          </div>
                        </td>
                            <% }) %> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>