<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
    <h1 class="adminIndex">Hola, bienvenido</h1>
    <h2 class="adminIndexUsers"><%= session.user.name %>  </h2>
    <div class="imgAdminUser">
        <img  class="imgAdmingLogin" src="/images/avatar/<%= session.user.avatar %>" alt="">
    </div>
  
    <div class="divProductosAdmin">
        <a href="/admin/productos/" class="adminIndexButton">
          <h4 class="adminIndexLabel" for="">Ir a Productos</h4>
        </a>
    </div>
  <%- include('../partials/footer') %> 
      


</body>
</html>
